.image-homepage {
  h4 {
    font-family: $homepage-font;
    line-height: 150%;
    position: absolute;
    top: 18%;
    width: 100%;
    color: white;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 0px;
      > a:link {
      color: white;
    }
  }
}

.interligne {
  font-family: $homepage-font;
  color: grey;
  text-align: center;
  line-height: 150%;
  heigth: 25%;
  width: 100%;
  padding: 10px;
  margin: 0px;
  font-size: 1.3vw;
}