.form-session {

  div {
    // border:2px solid #CCCCCC;
    font-family: $navbar-font;
    background-color:transparent;
    position: absolute;
    top: 25%;
    left: 25%;
  }

  #box-email {
    margin-top: 8%;
    position: absolute;
    left: 25%;
    font-size: 3vw;
  }

  #box-password {
    margin-top: 15.5%;
    position: absolute;
    left: 28%;
    font-size: 3vw;
  }

  #box-btn-register {
    position: absolute;
    margin-top: -10%;
    left: 48.3%;
    font-size: 3vw;
  }

  #remember-me {
    position: absolute;
    margin-top: 28%;
    left: 47%;
    font-size: 1.2vw;
    color: white;
  }

  #shared-links {
    border:2px solid #CCCCCC;
    position: absolute;
    margin-top: -3%;
    left: 46%;
    font-size: 1.2vw;
    color: white;

    a:link {
      color: white;
    }
    a:visited {
      color: white;
    }
    a:hover {
      transition: color;
      color: $yellow;
    }
  }

  .form-title {
    color: white;
    width: 900px;
    font-family: $navbar-font;
    font-size: 5vw;
  }
}