.image-registration {
  div {
    // border:2px solid #CCCCCC;
    font-family: $navbar-font;
    background-color:transparent;
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

#box-email {
  margin-top: 10%;
  position: absolute;
  left: 0%;
  font-size: 3vw;
}

#box-password {
  margin-top: 22%;
  position: absolute;
  left: 4.5%;
  font-size: 3vw;
}

#box-btn-register {
  position: absolute;
  left: 35%;
  margin-top: -15%;
  font-size: 3vw;
}

.form-title {
  color: white;
  width: 900px;
  font-family: $navbar-font;
  font-size: 5vw;
}