
<div class="wrapper_2 viewer">
  <%= image_tag ("maillefer/maillefer-1r.jpg") %>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".viewer").zoomer();
      $(window).on("resize", function(e) {
        $(".wrapper_2").zoomer("resize");
      });
    });
  </script>
<% end %>







