<%= content_for(:title) do %>
  Early Modern Beings and Writings
<% end %>

<%= content_for(:description) do %>
  Digital Edition of 17th century European Egodocuments.
<% end %>

<div class="image-homepage">
  <%= image_tag("homepage/neudoerffer_bnf.jpg", class: "img-responsive") %>
    <h4>
      <strong>
        <a href="/transcriptions/1">
        Early Modern
          <br>Beings and Writings
        </a>
      </strong>
    </h4>
</div>
<div class="bg-white">
  <h4 class="interligne">
    Reading and Researching Egodocuments Through a Digital Approach
  </h4>
</div>