<%= content_for(:title) do %>
  Early Modern Beings and Writings
<% end %>

<%= content_for(:description) do %>
  Digital Edition of 17th century European Egodocuments.
<% end %>

<div class="image-homepage">
  <%= image_tag("homepage/neudoerffer_bnf.jpg", class: "img-responsive") %>
  <h4>Early Modern Beings and Writings</h4>
</div>
<div class="bg-white">
  <h4 class="interligne">
    Reading and Researching Egodocuments
    <br>Through a Digital Approach
  </h4>
</div>