<%= content_for(:title) do %>
  Early Modern Beings and Writings
<% end %>

<%= content_for(:description) do %>
  Digital Edition of 17th century European Egodocuments.
<% end %>

      <%= image_tag("homepage/neudoerffer_bnf.jpg", class: "img-responsive") %>
      <h4 class="text-center">Homepage <br> Egodocuments Project</h4>
