.margin-home {
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 30px;
  }

.margin-embnw {
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0px;
  }

.forme-texte {
  color: grey;
    > a:link {
    color: grey;
    }
  }