.margin-home {
    margin-top: 40px;
    margin-bottom: 20px;
  }

.margin-embnw {
    margin-top: 3px;
    margin-bottom: 45px;
  }

.forme-texte {
  color: grey;
    > a:link {
    color: grey;
    }
  }